<h1> Stupid Coaching </h1>

<form action="/answer" data-turbo="false">
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>
<p><strong>Answer:</strong></p> <%=  @answer  %>

<br>
<br>
<%= link_to("Ask_again?", ask_path) %>
